<div id="<%= dom_id comentario %>">
  <p>
    <strong>Contenido:</strong>
    <%= comentario.contenido %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= comentario.autor %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= comentario.fecha %>
  </p>

  <p>
    <strong>Aprobado por:</strong>
    <%= comentario.aprobado_por %>
  </p>

  <p>
    <strong>Respuesta:</strong>
    <%= comentario.respuesta %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= comentario.genero %>
  </p>

</div>
