<div id="<%= dom_id categorium %>">
  <p>
    <strong>Nombre:</strong>
    <%= categorium.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= categorium.descripcion %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= categorium.fecha %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= categorium.color %>
  </p>

  <p>
    <strong>Icono:</strong>
    <%= categorium.icono %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= categorium.genero %>
  </p>

</div>
