<div id="<%= dom_id pedido %>">
  <p>
    <strong>Cliente:</strong>
    <%= pedido.cliente %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= pedido.fecha %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= pedido.estado %>
  </p>

  <p>
    <strong>Productos:</strong>
    <%= pedido.productos %>
  </p>

  <p>
    <strong>Metodo:</strong>
    <%= pedido.metodo %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= pedido.genero %>
  </p>

</div>
