<div id="<%= dom_id producto %>">
  <p>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= producto.descripcion %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= producto.stock %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= producto.marca %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= producto.fecha %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= producto.genero %>
  </p>

</div>
