<div id="<%= dom_id inicio %>">
  <p>
    <strong>Nombre:</strong>
    <%= inicio.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= inicio.email %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= inicio.fecha %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= inicio.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= inicio.telefono %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= inicio.genero %>
  </p>

</div>
