<div id="<%= dom_id articulo %>">
  <p>
    <strong>Titulo:</strong>
    <%= articulo.titulo %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= articulo.contenido %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= articulo.autor %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= articulo.fecha %>
  </p>

  <p>
    <strong>Etiquetas:</strong>
    <%= articulo.etiquetas %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= articulo.genero %>
  </p>

</div>
